@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RectangleShape
@{
    ViewData["Title"] = "Rectangle Page";
}

<h1>Rectangle Page</h1>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}
<form method="post" asp-action="RectanglePage">
    
    <div class="form-group">
        <label for="Length">Length:</label>
        <input type="text" name="Length" class="form-control" value="@Model.Length" placeholder="Enter length" />
        <span asp-validation-for="Length" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label for="Width">Width:</label>
        <input type="text" name="Width" class="form-control" value="@Model.Width" placeholder="Enter width" />
        <span asp-validation-for="Width" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Calculate Perimeter & required Liquid</button>
</form>


@if (Model.Perimeter.HasValue)
{
    <h2>Perimeter: @Model.Perimeter cm</h2>
    <h3> Assumption: we will be using a liquid material that requires 1.5cm of material per 1 cm of perimeter</h3>
    <h2>Required Liquid : @Model.Liqued cm of material</h2>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
